<form [formGroup]="addProduct" (ngSubmit)="onSubmit()">

    <p>Categoría</p>
    <select id="category" formControlName="category">
        <option *ngFor="let category of categoryList" [value]="category" routerLinkActive="router-link-active" >{{ category }}</option>
    </select>
    <br>

    <p>Marca</p>
    <select id="brand" formControlName="brand">
        <option *ngFor="let brand of brandList" [value]="brand">{{ brand }}</option>
    </select>
    <br>

    <p>URL Imágen</p>
    <input type="text" formControlName="image" class="form-control">


    <p>Descripción</p>
    <input type="text" formControlName="description" class="form-control">

    <p>Precio</p>
    <input type="number" formControlName="price" class="form-control">

    <p>Stock</p>
    <input type="number" formControlName="stock" class="form-control">

    <p>Modelo</p> <br>
    <input type="text" formControlName="model" class="form-control">


    <app-air-conditioning-characteristics *ngIf="getSelectedCategory() == 'Aire Acondicionado'" ></app-air-conditioning-characteristics> <!-- "characteristicsString" es el input de add-product-component  characteristicsString el output de ir-conditioning-component-->
    <app-fan-characteristics *ngIf="getSelectedCategory() == 'Ventiladores'"></app-fan-characteristics>
    <app-tv-characteristics  *ngIf="getSelectedCategory() == 'Televisores'"></app-tv-characteristics>
    <app-heapphones-characteristics *ngIf="getSelectedCategory() == 'Auriculares'"></app-heapphones-characteristics>
    <app-refrigerator-characteristics *ngIf="getSelectedCategory() == 'Heladeras'"></app-refrigerator-characteristics>
    <app-washing-characteristics *ngIf="getSelectedCategory() == 'Lavarropas'"></app-washing-characteristics>
    <app-notebooks-characteristics *ngIf="getSelectedCategory() == 'Notebooks'"></app-notebooks-characteristics>
    <app-microwave-characteristics *ngIf="getSelectedCategory() == 'Microondas'"></app-microwave-characteristics>
    <app-smartphones-characteristics *ngIf="getSelectedCategory() == 'Celulares'"></app-smartphones-characteristics>
    <app-tablet-characteristics *ngIf="getSelectedCategory() == 'Tablets'"></app-tablet-characteristics>
    <app-printer-characteristics *ngIf="getSelectedCategory() == 'Impresoras'"></app-printer-characteristics>
    <app-keyboard-characteristics *ngIf="getSelectedCategory() == 'Teclado'"></app-keyboard-characteristics>
    <app-mouse-characteristics *ngIf="getSelectedCategory() == 'Mouse'"></app-mouse-characteristics>

    <button type="submit"> Crear </button>
</form>