<h2>CREACION DE PRODUCTO</h2>
<br />
<br />
<form [formGroup]="addProduct" (ngSubmit)="onSubmit()">
  <p>Categoría</p>
  <select id="category" formControlName="category">
    <option
      *ngFor="let category of categoryList"
      [value]="category"
      routerLinkActive="router-link-active"
    >
      {{ category }}
    </option>
  </select>
  <br />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('category')?.dirty || addProduct.get('category')?.touched)
    "
  >
    <div *ngIf="addProduct.get('category')?.errors?.['required']">
      Categoría requerida...
    </div>
  </div>

  <p>Marca</p>
  <select id="brand" formControlName="brand">
    <option *ngFor="let brand of brandList" [value]="brand">{{ brand }}</option>
  </select>
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('brand')?.dirty || addProduct.get('brand')?.touched)
    "
  >
    <div *ngIf="addProduct.get('brand')?.errors?.['required']">
      Marca requerida...
    </div>
  </div>

  <p>URL Imágen</p>
  <input type="text" formControlName="urlImage" class="form-control" />
  <img src="{{ addProduct.get('urlImage')?.value }}" alt="" />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('urlImage')?.dirty || addProduct.get('urlImage')?.touched)
    "
  >
    <div *ngIf="addProduct.get('urlImage')?.errors?.['required']">
      Url de imágen requerido...
    </div>
  </div>

  <p>Descripción</p>
  <input type="text" formControlName="description" class="form-control" />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('description')?.dirty ||
        addProduct.get('description')?.touched)
    "
  >
    <div *ngIf="addProduct.get('description')?.errors?.['required']">
      Descripción requerida...
    </div>
  </div>

  <p>Precio</p>
  <input type="number" formControlName="price" class="form-control" />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('price')?.dirty || addProduct.get('price')?.touched)
    "
  >
    <div *ngIf="addProduct.get('price')?.errors?.['required']">
      Precio requerido...
    </div>
    <div *ngIf="addProduct.get('price')?.errors?.['min']">
      El valor ingresado es inválido...
    </div>
  </div>

  <p>Stock</p>
  <input type="number" formControlName="stock" class="form-control" />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('stock')?.dirty || addProduct.get('stock')?.touched)
    "
  >
    <div *ngIf="addProduct.get('stock')?.errors?.['required']">
      Stock requerido...
    </div>
    <div *ngIf="addProduct.get('stock')?.errors?.['min']">
      El valor ingresado es inválido...
    </div>
  </div>

  <p>Modelo</p>
  <input type="text" formControlName="model" class="form-control" />
  <div
    style="color: red"
    *ngIf="
      !addProduct.valid &&
      (addProduct.get('model')?.dirty || addProduct.get('model')?.touched)
    "
  >
    <div *ngIf="addProduct.get('model')?.errors?.['required']">
      Modelo requerido...
    </div>
  </div>

  <app-air-conditioning-characteristics
    *ngIf="addProduct.get('category')?.value == 'Aire Acondicionado'"
  ></app-air-conditioning-characteristics>
  <app-fan-characteristics
    *ngIf="addProduct.get('category')?.value == 'Ventiladores'"
  ></app-fan-characteristics>
  <app-tv-characteristics
    *ngIf="addProduct.get('category')?.value == 'Televisores'"
  ></app-tv-characteristics>
  <app-heapphones-characteristics
    *ngIf="addProduct.get('category')?.value == 'Auriculares'"
  ></app-heapphones-characteristics>
  <app-refrigerator-characteristics
    *ngIf="addProduct.get('category')?.value == 'Heladeras'"
  ></app-refrigerator-characteristics>
  <app-washing-characteristics
    *ngIf="addProduct.get('category')?.value == 'Lavarropas'"
  ></app-washing-characteristics>
  <app-notebooks-characteristics
    *ngIf="addProduct.get('category')?.value == 'Notebooks'"
  ></app-notebooks-characteristics>
  <app-microwave-characteristics
    *ngIf="addProduct.get('category')?.value == 'Microondas'"
  ></app-microwave-characteristics>
  <app-smartphones-characteristics
    *ngIf="addProduct.get('category')?.value == 'Celulares'"
  ></app-smartphones-characteristics>
  <app-tablet-characteristics
    *ngIf="addProduct.get('category')?.value == 'Tablets'"
  ></app-tablet-characteristics>
  <app-printer-characteristics
    *ngIf="addProduct.get('category')?.value == 'Impresoras'"
  ></app-printer-characteristics>
  <app-keyboard-characteristics
    *ngIf="addProduct.get('category')?.value == 'Teclados'"
  ></app-keyboard-characteristics>
  <app-mouse-characteristics
    *ngIf="addProduct.get('category')?.value == 'Mouses'"
  ></app-mouse-characteristics>
  <div class="flex">
    <button class="inner-button" type="submit" [disabled]="!addProduct.valid">
      Crear
    </button>
    <!-- si todas las validaciones pasaron con exito lo habilita -->
    <button class="inner-button" type="button" (click)="resetForm()">
      Limpiar Campos
    </button>
  </div>

  <div *ngIf="productAdded" class="alert alert-warning" role="alert">
    Producto agregado con exito
  </div>
  <div *ngIf="productNotAdded" class="alert alert-danger" role="alert">
    Producto ya existente
  </div>
</form>
