<header class="header">
  <nav class="nav">
    <div class="nav-links">
      <div class="left-links">
        <div class="link" routerLink="/home" routerLinkActive="active">
          Home
        </div>
        <div
          class="link"
          routerLink="/register"
          *ngIf="!isLoggedIn()"
          routerLinkActive="active"
        >
          Registro
        </div>
        <div class="user-name" *ngIf="isLoggedIn()">Bienvenido, {{ name }}</div>
      </div>
      <div class="end-icons">
        <div
          class="link"
          routerLink="/login"
          *ngIf="!isLoggedIn()"
          routerLinkActive="active"
        >
          <img src="/login.svg" alt="login" width="25px" height="25px" />
        </div>
        <div class="link logout" (click)="logout()" *ngIf="isLoggedIn()">
          <img src="/logout.svg" alt="login" width="25px" height="25px" />
        </div>
        <div class="link" routerLinkActive="active" routerLink="/cart">
          <img src="/cart.svg" alt="cart" width="25px" height="25px" />
        </div>
      </div>
    </div>
  </nav>
</header>
