<h3>Carrito de Compras</h3>

<!-- Verifica si hay productos en el carrito -->
<div class="items" *ngIf="carrito.length > 0; else noProducts">
  <!-- Recorre el carrito y muestra los productos -->
  <div *ngFor="let product of carrito">
    <div class="product-item">
      <!-- Muestra la información del producto -->
      <img
        class="product-img"
        src="{{ product.urlImage }}"
        alt="Imagen {{ product.model }}"
      />
      <div class="item-text">
        <p>
          <strong>{{ product.brand }} {{ product.model }}</strong>
        </p>
        <p>Precio: {{ product.price }} USD</p>
        <p>Stock disponible: {{ product.stock }}</p>
        <!-- Muestra el stock disponible -->
        <button (click)="removeProduct(product.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Si no hay productos, muestra un mensaje -->
<ng-template #noProducts>
  <div class="vacio">
    <p>Carrito vacio.</p>
  </div>
</ng-template>

<!-- Botón para vaciar el carrito -->
<button *ngIf="carrito.length > 0" (click)="clearCart()">Vaciar carrito</button>
