<p>datos d la compra</p>
<p>Items compra</p>
<div class="items" *ngIf="cartItems.length > 0">
    <!-- Recorre el carrito y muestra los productos -->
    <div *ngFor="let product of cartItems">
      <div class="product-item">
        <!-- Muestra la información del producto -->
        <img
          class="product-img"
          src="{{ product.urlImage }}"
          alt="Imagen {{ product.model }}"
        />
        <div class="item-text">
          <p>
            <strong>{{ product.brand }} {{ product.model }}</strong>
          </p>
          <p>Precio: ${{ product.price | number : "1.0" }}</p>
          
          <p>Cantidad: {{product.stock}}</p>
        </div>
      </div>
      
    </div>
    <p>Subtotal: ${{getSubtotal()}}</p>
  </div>



<p>Datos cliente</p>

<form [formGroup]="userDataForm">
  <input type="text" formControlName="name" value={{user?.name}}>
  <input type="text" formControlName="name" value={{user?.lastname}}>
  <input type="text" formControlName="name" value={{user?.birthdate}}>
  <input type="text" formControlName="name" value={{user?.address}}>
  <input type="text" formControlName="name" value={{user?.postalCode}}>
  <input type="text" formControlName="name" value={{user?.email}}>

  <button>calcular envio</button><!-- hacer metodo que con la api de distancias calcule el costo de envio -->
  <label for="">
    mostrar costo de envio
  </label>

  <label for="">
    mostrar el total
  </label>

  <label for=""><!-- crear json de tarjeta y crear el form validando que los datos de la tarjeta existan en el json -->
    cargar datos de la tarjeta
  </label>

</form>



<p>total + costo envio</p>
<p>datos de pago</p>

<p>si se validan se habilita boton confirmar compra</p>



  



<button type="button">Confirmar compra</button>