<div>
  <div>
    <img
      src="{{ productToVievDetails?.urlImage }}"
      alt="Imagen {{ productToVievDetails?.model }}"
    />
  </div>
  <div>
    <p>{{ productToVievDetails?.brand }}</p>
    <p>
      {{ productToVievDetails?.category }} {{ productToVievDetails?.price }}
      {{ productToVievDetails?.model }}
    </p>
    <p>Descripción:</p>
    <p>{{ productToVievDetails?.description }}</p>
    <p>Precio: ${{ productToVievDetails?.price | number : "1.0-0" }}</p>
    <button class="button" (click)="goBack()">
      <img src="/arrow-left.svg" alt="volver" width="25px" />
    </button>
  </div>
</div>
