<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="name">Nombre:</label>
  <input id="name" formControlName="name" type="text" />

  <label for="lastname">Apellido:</label>
  <input id="lastname" formControlName="lastname" type="text" />

  <label for="birthdate">Fecha de Nacimiento:</label>
  <input id="birthdate" formControlName="birthdate" type="date" />

  <label for="address">Dirección:</label>
  <input id="address" formControlName="address" type="text" />

  <label for="postalCode">Código Postal:</label>
  <input id="postalCode" formControlName="postalCode" type="text" />

  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email" />

  <label for="password">Contraseña:</label>
  <input id="password" formControlName="password" type="password" />

  <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
</form>
