<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex">
      <div class="inner-flex">
        <label for="name">Nombre:</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          placeholder="Nombre"
        />
      </div>
      <div class="inner-flex">
        <label for="lastname">Apellido:</label>
        <input
          id="lastname"
          formControlName="lastname"
          type="text"
          placeholder="Apellido"
        />
      </div>
    </div>

    <label for="birthdate">Fecha de Nacimiento:</label>
    <input id="birthdate" formControlName="birthdate" type="date" />


    <div class="flex">
      <div class="inner-flex">
        <label for="address">Dirección:</label>
        <input
          id="address"
          formControlName="address"
          type="text"
          placeholder="Dirección"
        />
      </div>
      <div class="inner-flex">
        <label for="postalCode">Código Postal:</label>
        <input
          id="postalCode"
          formControlName="postalCode"
          type="text"
          placeholder="Código Postal"
        />
      </div>
    </div>

    <label for="email">Email:</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="Email"
    />

    <label for="password">Contraseña:</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="Contraseña"
    />
    <div class="background-button">
      <button type="submit" [disabled]="registerForm.invalid">
        Registrarme
      </button>
    </div>

    <div style="color: red" *ngIf="!registerForm.valid &&(registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
      <div  *ngIf="registerForm.get('name')?.errors?.['required']" >
        Nombre requerido...
      </div>
      <div *ngIf="!registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.errors?.['lettersOnly']">
        Debe ingresar solo letras...
      </div>
    </div>

    <div style="color: red" *ngIf="!registerForm.valid &&(registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)">
      <div  *ngIf="registerForm.get('lastname')?.errors?.['required']" >
        Nombre requerido...
      </div>
      <div *ngIf="!registerForm.get('lastname')?.errors?.['required'] && registerForm.get('lastname')?.errors?.['lettersOnly']">
        Debe ingresar solo letras...
      </div>
    </div>

    <div style="color: red" *ngIf="!registerForm.valid &&(registerForm.get('birthdate')?.dirty || registerForm.get('birthdate')?.touched)">
      <div  *ngIf="registerForm.get('birthdate')?.errors?.['required']" >
        Fecha de nacimiento requerida...
      </div>
      <div *ngIf="!registerForm.get('birthdate')?.errors?.['required'] && !registerForm.get('birthdate')?.errors?.['ageRangeLimitator']">
        Debe ser mayor a 18 años...
      </div>
    </div>

  </form>
</div>
